
  @font-face {
    font-family: 'TeletactileLatCyr';
    src: url('../fonts/TeletactileRus.woff') format('woff'),
         url('../fonts/TeletactileRus.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'TeletactileLatCyr', sans-serif;
    background: url('../images/alexandra-kochneva-.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
  }
  
  .container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: var(--black);
    padding: 32px 0;
  }
  
  .header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header_inner nav {
    display: flex;
    align-items: center;
    gap: 26px;
  }
  
  .witach {
    font-size: 48px;
    color: var(--snow);
  }
  
  .black_bar {
    background-color: var(--black);
    text-align: center;
    padding: 20px 0;
  }
  
  .black_bar h2 {
    font-size: 42px;
    color: white;
  }
  
  .category_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    min-height: calc(100vh - 200px);
    padding: 40px 20px;
  }
  
  .category_card {
    background-color: rgba(255, 51, 0, 0.158);
    border-radius: 16px;
    text-align: center;
    padding: 40px 20px;
    width: 250px;
    height: 300px;
    cursor: pointer;
    transition: transform 0.7s ease, box-shadow 0.7s ease, background-color 0.7s ease;
    backdrop-filter: blur(8px);
    position: relative;
    will-change: transform;
  }
  
  .category_card:hover {
    transform: translateY(-10px) !important;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  }
  
  
  .category_card img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  .category_card p {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Модалка */
  .modal {
    display: none;
  }
  
  .modal.active {
    display: block;
  }
  
  .modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
  
  .modal_content {
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .modal_link {
    background: white;
    color: black;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .modal_link:hover {
    background: var(--snow);
  }
  